# Application
APP_PORT=3000
APP_HOST=127.0.0.1

# Environment
NODE_ENV = development

# Database
MYSQL_HOST=localhost
MYSQL_USER=<YOUR_MYSQL_USER>
MYSQL_PASSWORD=<YOUR_MYSQL_PASSWORD>
MYSQL_DATABASE=<YOUR_MYSQL_DATABASE>
MYSQL_PORT=3306

# Mysql socket path /path/to/mysql.sock
SOCKET_PATH=<YOUR_SOCKET_PATH>

# Log
LOG_DIR=logs
LOG_LEVEL='debug'

TOKEN_SECRET_KEY=secretkeyforjsonwebtoken
